
@media all and (min-width: 480px) {
  .o-container {
    padding: 0 24px;
  }
}

@media all and (min-width: 720px) {
  .o-container {
    padding: 0 48px;
  }
}

/* -----------------------------------------------------------------------------

  HEADER OBJECT
  
----------------------------------------------------------------------------- */
.o-header {
  margin: 0;
  padding: 0;
}

.o-header-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #e03636;
}

.o-header-nav__link {
  padding: 12px;
  color: #fff;
}

.o-header-nav__link:hover {
  color: #fff;
  background-color: #9d1d41;
}

.o-header__title {
  margin: 24px;
  padding: 0;
  color: #818181;
  font-size: 28px;
  font-weight: 300;
  text-align: center;
}

@media all and (min-width: 480px) {
  .o-header__title {
    margin: 36px;
    font-size: 42px;
  }
}

/* -----------------------------------------------------------------------------

  MAIN OBJECT
  
----------------------------------------------------------------------------- */
.o-main {
  /**/
}

/* -----------------------------------------------------------------------------

  SECTION OBJECT
  
----------------------------------------------------------------------------- */
.o-section {
  margin-bottom: 24px;
}

.o-section:last-child {
  margin-bottom: 0;
}

@media all and (min-width: 720px) {
  .o-section {
    margin-bottom: 48px;
  }
}

/* -----------------------------------------------------------------------------

  SUB-NAVIGATION OBJECT
  
----------------------------------------------------------------------------- */
.o-sub-nav {
  margin: 0;
  padding: 0;
}

.o-sub-nav__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.o-sub-nav__item {
  margin: 0;
  padding: 4px;
}

.o-sub-nav__link {
  display: block;
  margin: 0;
  padding: 4px 24px;
  border: solid 2px #e03636;
}

.o-sub-nav__link:hover,
.o-sub-nav__item.active .o-sub-nav__link {
  color: #fff;
  background-color: #e03636;
}

/* -----------------------------------------------------------------------------

  FOOTER OBJECT
  
----------------------------------------------------------------------------- */
.o-footer {
  padding: 12px 0;
  text-align: center;
}

@media all and (min-width: 480px) {
  .o-footer {
    padding: 24px 0;
  }
}

@media all and (min-width: 720px) {
  .o-footer {
    padding: 48px 0;
  }
}

.c-tabs {
  /**/
}

/**
 * Tabs navigation
 */
.c-tabs-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family:'Roboto', sans-serif
}

.c-tabs-nav__link {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 12px;
  color: #525252;
  border:1px solid #dadada;
  border-left:none; border-bottom:none;
  border-collapse:collapse;
  background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
  text-align: center;
  -webkit-transition: color 0.3s;
          transition: color 0.3s;
		  text-decoration:none;
		  transition:ease-in-out all 0.2s
}

.c-tabs-nav__link:last-child {
  margin-right: 0;
}
.fa-technology:before{content:url(../images/technology-ico.png)}
.fa-infosystem:before{content:url(../images/infosystem-ico.png)}
.fa-management:before{content:url(../images/management-ico.png)}
.fa-telnetcare:before{content:url(../images/telnetcare-ico.png)}
.c-tabs-nav__link:hover {
  color:#1a3192;text-decoration:none;
}
.c-tabs-nav__link:first-child{ border-left:1px solid #dadada !important}
.c-tabs-nav__link.is-active { position:relative; top:1px;
  color: #1a3192;background: #fff !important;
  border:1px solid #dadada; border-left:none; border-bottom:none; box-shadow:0 2px 2px 0 #ddd inset;transition:ease-in-out all 0.2s}

.c-tabs-nav__link i,
.c-tabs-nav__link span {
  margin: 0;
  padding: 0;
  line-height: 1;
}

.c-tabs-nav__link i {
  font-size: 18px;
  display:none
}

.c-tabs-nav__link span {
  display: none;
  font-size: 18px;
}
@media only screen and (max-width:720px)  
{
.c-tabs-nav__link{ padding:10px 0}
.c-tabs-nav__link i{display:block}
}
@media all and (min-width: 720px) {
  .c-tabs-nav__link i {
    margin-bottom: 12px;
  }
  .c-tabs-nav__link span {
    display: block;
  }
}

/**
 * Tab
 */
.c-tab {
  display: none;
  background-color: #fff;border:none
}

.c-tab.is-active {
  display: block;
}

.c-tab__content {
  padding:0 0 15px 0; width:100%;
  font:400 13px/18px 'Roboto', sans-serif; color:#6e6e6e; height:auto; float:left; border:none !important;
}

/**
 * Tabs no-js fallback
 */
.c-tabs.no-js .c-tabs-nav {
  display: none;
}

.c-tabs.no-js .c-tab {
  display: block;
  margin-bottom: 1.5rem;
}

.c-tabs.no-js .c-tab:last-child {
  margin-bottom: 0;
}

/* -----------------------------------------------------------------------------

  CARBON AD COMPONENT
  
----------------------------------------------------------------------------- */
#carbonads {
  position: fixed;
  bottom: 12px;
  right: 12px;
  z-index: 1000;
  padding: 24px 12px 12px 12px;
  width: 154px;
  background-color: #fff;
  line-height: 1.1;
  border: solid 1px #e7e7e7;
}

.carbon-wrap {
  display: block;
  margin: 0 0 4px 0;
}

.carbon-img {
  display: block;
  margin: 0 0 4px 0;
  padding: 0;
  width: 130px;
  height: 100px;
}

.carbon-text {
  color: #818181;
  font-size: 12px;
}

.carbon-poweredby {
  font-size: 10px;
  font-style: italic;
}

.carbonad__close {
  display: block;
  position: absolute;
  top: 0;
  left: 12px;
  height: 24px;
  font-size: 11px;
  line-height: 24px;
}

@media all and (max-width: 660px) {
  #carbonads {
    display: none;
  }
}
